[flake8]
max-line-length = 80
extend-ignore = E203,I
# Make sure docstring checking is NOT in the ignored list
select = E,F,W,C,D  # Explicitly include D for docstring checks
exclude =
    .venv/*,
    .venv/**,
    venv/*,
    .git/*,
    __pycache__/*,
    .pytest_cache/*,
    .github/*,
    build/*,
    dist/*,
    pyproject.toml
per-file-ignores =
    __init__.py: F401,F403
    tests/*: D  # Optionally skip docstring checks in test files
