[flake8]
max-line-length = 80
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv
ignore = W503, E203, I100, I101, I201, I202, D401
application-import-names =
    adapters,
    command_libraries,
    utilities,
    scanner_gui
import-order-style = pep8
per-file-ignores =
    main.py: F401, I100, I101, I201, I202, D401
